# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'fold markdown-fold'
      'command': 'markdown-fold:fold'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'markdown-fold'
      'submenu': [
        {
          'label': 'fold'
          'command': 'markdown-fold:fold'
        }
      ]
    ]
  }
]
